[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
TryExec=pdftk
Actions=mergepdfs_odd_even;

[Desktop Action mergepdfs_odd_even]
Icon=application-pdf
Name=Merge PDFs Odd & Even
Name[fr]=Unir les fichiers PDF en recto verso
Name[de]=PDFs mit ungeraden & geraden Seiten zusammenführen
Name[it]=Unisci PDF pagine dispari & pari
Name[nl]=Pdf-bestanden samenvoegen (even en oneven)
Name[es]=Unir PDFs páginas impares y pares
Name[pt]=Unir PDFs páginas ímpares e pares
Name[nl]=Samenvoegen PDF's Oneven & Even
Name[bg]=Сливане на PDF файлове с нечетни и четни страници
Name[cs]=Sloučit PDF soubory s lichými a sudými stránkami
Name[da]=Flet PDF-filer med ulige og lige sider
Name[et]=Ühenda PDF-failid paaritute ja paaris lehtedega
Name[el]=Συγχώνευση PDF με ανάποδες και άρτιες σελίδες
Name[pl]=Scalanie Stron Nieparzystych i Parzystych
Name[ga]=Comhoiriúnú leabharlann PDF Aonair & Céatadáin
Name[hr]=Spoji PDF-ove neparne i parne stranice
Name[hu]=PDF-ek összevonása páratlan és páros oldalakkal
Name[is]=Sameina PDF skrár með oddatölugildum og jafnatölugildum síðum
Name[lv]=Apvienot PDF failus ar nepāra un pāra lapām
Name[lt]=Sulieti PDF failus su nelyginiais ir lyginiais puslapiais
Name[mt]=Ippartat PDFs b'daħla u żewġ
Name[ro]=Unifică fișiere PDF cu pagini impare și pare
Name[sk]=Zlúčiť súbory PDF s nepárnymi a párnymi stranami
Name[sl]=Združi PDF-je s lihi in sodi stranmi
Name[fi]=Yhdistä PDF-tiedostot parittomilla ja parillisilla sivuilla
Name[sv]=Sammanfoga PDF-filer med udda och jämna sidor
Name[et_EE]=Ühenda PDF-failid paaritute ja paaris lehtedega
Name[uk]=Об'єднати файли PDF з непарними та парними сторінками

Exec=file_odd=$(kdialog --title "Choose Odd File" --getopenfilename "Choose the file with odd pages" "application/pdf") && file_even=$(kdialog --title "Choose Even File" --getopenfilename "Choose the file with even pages" "application/pdf") && output_file=$(kdialog --title "Merge Odd and Even Pages" --getsavefilename "Choose the output file" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Odd/Even" --msgbox "Merge PDFs completed"

Exec[fr]=file_odd=$(kdialog --title "Choix du fichier Recto" --getopenfilename "Choisir le fichier des pages impaires" "application/pdf") && file_even=$(kdialog --title "Choix du fichier Verso" --getopenfilename "Choisir le fichier des pages paires" "application/pdf") && output_file=$(kdialog --title "Unir les pages impaires et paires" --getsavefilename "Choisir le fichier de sauvegarde" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Recto/Verso" --msgbox "Fusion des fichiers PDF terminée"

Exec[de]=file_odd=$(kdialog --title "Ungerades Dokument auswählen" --getopenfilename "Dokument mit ungeraden Seiten auswählen" "application/pdf") && file_even=$(kdialog --title "Gerades Dokument auswählen" --getopenfilename "Dokument mit geraden Seiten auswählen" "application/pdf") && output_file=$(kdialog --title "Ungerade und gerade Seiten zusammenführen" --getsavefilename "Ausgabedatei auswählen" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Ungerade/Gerade" --msgbox "PDFs zusammenführen abgeschlossen"

Exec[it]=file_odd=$(kdialog --title "Scegli file dispari" --getopenfilename "Scegli il file con pagine dispari" "application/pdf") && file_even=$(kdialog --title "Scegli file pari" --getopenfilename "Scegli il file con pagine pari" "application/pdf") && output_file=$(kdialog --title "Unisci pagine dispari e pari" --getsavefilename "Scegli il file di output" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Dispari/Pari" --msgbox "Unione dei PDF completata"

Exec[nl]=file_odd=$(kdialog --title "Kies oneven bestand…" --getopenfilename "Kies het bestand met oneven paginanummers" "application/pdf") && file_even=$(kdialog --title "Kies even bestand…" --getopenfilename "Kies het bestand met even paginanummers" "application/pdf") && output_file=$(kdialog --title "Even en oneven pagina's samenvoegen" --getsavefilename "Kies het uiteindelijke bestand" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Odd/Even" --msgbox "De pdf-bestanden zijn samengevoegd"

Exec[es]=file_odd=$(kdialog --title "Seleccionar archivo impar" --getopenfilename "Seleccionar el archivo con páginas impares" "application/pdf") && file_even=$(kdialog --title "Seleccionar archivo par" --getopenfilename "Seleccionar el archivo con páginas pares" "application/pdf") && output_file=$(kdialog --title "Combinar páginas impares y pares" --getsavefilename "Seleccionar archivo de salida" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Impar/Par" --msgbox "Combinación de PDFs completada"

Exec[pt]=file_odd=$(kdialog --title "Escolher arquivo Ímpar" --getopenfilename "Escolha o arquivo com páginas ímpares" "application/pdf") && file_even=$(kdialog --title "Escolher arquivo Par" --getopenfilename "Escolha o arquivo com páginas pares" "application/pdf") && output_file=$(kdialog --title "Combinar páginas ímpares e pares" --getsavefilename "Escolher o arquivo de saída" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Ímpar/Par" --msgbox "Combinação de PDFs concluída"

Exec[nl]=file_odd=$(kdialog --title "Kies Oneven Bestand" --getopenfilename "Kies het bestand met oneven pagina's" "application/pdf") && file_even=$(kdialog --title "Kies Even Bestand" --getopenfilename "Kies het bestand met even pagina's" "application/pdf") && output_file=$(kdialog --title "Samenvoegen Oneven en Even Pagina's" --getsavefilename "Kies het uitvoerbestand" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Oneven/Even" --msgbox "Samenvoegen van PDF's voltooid"

Exec[bg]=file_odd=$(kdialog --title "Изберете Файл с Нечетни Страници" --getopenfilename "Изберете файла с нечетни страници" "application/pdf") && file_even=$(kdialog --title "Изберете Файл с Четни Страници" --getopenfilename "Изберете файла с четни страници" "application/pdf") && output_file=$(kdialog --title "Обединяване на нечетни и четни страници" --getsavefilename "Изберете изходен файл" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Нечетни/Четни" --msgbox "Обединяването на PDF файлове приключи"

Exec[cs]=file_odd=$(kdialog --title "Vyberte Soubor s Lichými Stránkami" --getopenfilename "Vyberte soubor s lichými stránkami" "application/pdf") && file_even=$(kdialog --title "Vyberte Soubor s Sudými Stránkami" --getopenfilename "Vyberte soubor s sudými stránkami" "application/pdf") && output_file=$(kdialog --title "Sloučit liché a sudé stránky" --getsavefilename "Vyberte výstupní soubor" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Liché/Sudé" --msgbox "Slučování PDF dokončeno"

Exec[da]=file_odd=$(kdialog --title "Vælg Ulige Fil" --getopenfilename "Vælg filen med ulige sider" "application/pdf") && file_even=$(kdialog --title "Vælg Lige Fil" --getopenfilename "Vælg filen med lige sider" "application/pdf") && output_file=$(kdialog --title "Flet Ulige og Lige Sider" --getsavefilename "Vælg outputfilen" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Ulige/Lige" --msgbox "Sammenfletning af PDF'er fuldført"

Exec[et]=file_odd=$(kdialog --title "Vali Fail Üksikutega" --getopenfilename "Vali fail üksikute lehekülgedega" "application/pdf") && file_even=$(kdialog --title "Vali Fail Paaridega" --getopenfilename "Vali fail paariliste lehekülgedega" "application/pdf") && output_file=$(kdialog --title "Ühenda Üksikud ja Paaris Leheküljed" --getsavefilename "Vali väljundfail" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Üksik/Paar" --msgbox "PDF-de ühendamine lõpetatud"

Exec[pl]=file_odd=$(kdialog --title "Wybierz Plik z Nieparzystymi Stronami" --getopenfilename "Wybierz plik z nieparzystymi stronami" "application/pdf") && file_even=$(kdialog --title "Wybierz Plik z Parzystymi Stronami" --getopenfilename "Wybierz plik z parzystymi stronami" "application/pdf") && output_file=$(kdialog --title "Scalanie Stron Nieparzystych i Parzystych" --getsavefilename "Wybierz plik wyjściowy" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Nieparzyste/Parzyste" --msgbox "Scalanie plików PDF zakończone"

Exec[el]=file_odd=$(kdialog --title "Επιλογή Αρχείου Με Περιττές Σελίδες" --getopenfilename "Επιλέξτε το αρχείο με τις περιττές σελίδες" "application/pdf") && file_even=$(kdialog --title "Επιλογή Αρχείου Με Ζυγές Σελίδες" --getopenfilename "Επιλέξτε το αρχείο με τις ζυγές σελίδες" "application/pdf") && output_file=$(kdialog --title "Συγχώνευση Περιττών και Ζυγών Σελίδων" --getsavefilename "Επιλέξτε το αρχείο εξόδου" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Περιττές/Ζυγές" --msgbox "Ολοκλήρωση Συγχώνευσης PDF"

Exec[hr]=file_odd=$(kdialog --title "Odaberite Datoteku s Neparnim Stranicama" --getopenfilename "Odaberite datoteku s neparnim stranicama" "application/pdf") && file_even=$(kdialog --title "Odaberite Datoteku s Paranim Stranicama" --getopenfilename "Odaberite datoteku s parnim stranicama" "application/pdf") && output_file=$(kdialog --title "Spoji Neparni i Parni PDF" --getsavefilename "Odaberite izlaznu datoteku" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Neparni/Par" --msgbox "Spoj PDF datoteka završen"

Exec[hu]=file_odd=$(kdialog --title "Páratlan Fájl Kiválasztása" --getopenfilename "Válassza ki a páratlan oldalú fájlt" "application/pdf") && file_even=$(kdialog --title "Páros Fájl Kiválasztása" --getopenfilename "Válassza ki a páros oldalú fájlt" "application/pdf") && output_file=$(kdialog --title "Páratlan és Páros Oldalak Összevonása" --getsavefilename "Válassza ki a kimeneti fájlt" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Páratlan/Páros" --msgbox "PDF-ek összevonása befejeződött"

Exec[is]=file_odd=$(kdialog --title "Veljaðu Skrá með Oddatalnum" --getopenfilename "Veljaðu skrána með oddatalnum" "application/pdf") && file_even=$(kdialog --title "Veljaðu Skrá með Jöfnum Tölum" --getopenfilename "Veljaðu skrána með jöfnum tölum" "application/pdf") && output_file=$(kdialog --title "Sameina Odda- og Jöfnutölugilda Síður" --getsavefilename "Veljaðu úttaksáskrift" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Oddatala/Jöfntala" --msgbox "Sameining PDF-a lokið"

Exec[lv]=file_odd=$(kdialog --title "Izvēlieties Failu ar Nepāra Lapām" --getopenfilename "Izvēlieties failu ar nepāra lapām" "application/pdf") && file_even=$(kdialog --title "Izvēlieties Failu ar Pāra Lapām" --getopenfilename "Izvēlieties failu ar pāra lapām" "application/pdf") && output_file=$(kdialog --title "Apvienot Nepāra un Pāra Lapas" --getsavefilename "Izvēlieties izvades failu" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Nepāra/Pāra" --msgbox "PDF failu apvienošana pabeigta"

Exec[lt]=file_odd=$(kdialog --title "Pasirinkite Failą su Nelyginėmis Puslapiais" --getopenfilename "Pasirinkite failą su nelyginėmis puslapiais" "application/pdf") && file_even=$(kdialog --title "Pasirinkite Failą su Lyginėmis Puslapiais" --getopenfilename "Pasirinkite failą su lyginėmis puslapiais" "application/pdf") && output_file=$(kdialog --title "Sulieti Nelyginius ir Lyginius Puslapius" --getsavefilename "Pasirinkite išvesties failą" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Nelyginiai/Lygini" --msgbox "PDF failų sujungimas baigtas"

Exec[mt]=file_odd=$(kdialog --title "Agħżel Fajl b'Paġni Anqas" --getopenfilename "Agħżel il-fajl b'paġni anqas" "application/pdf") && file_even=$(kdialog --title "Agħżel Fajl b'Paġni Anqas" --getopenfilename "Agħżel il-fajl b'paġni ż-żewġ" "application/pdf") && output_file=$(kdialog --title "Jippermetti Paġni Anqas u Żewġ" --getsavefilename "Agħżel il-fajl tal-ħruġ" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Anqas/Żewġ" --msgbox "Kombinazzjoni ta' PDF kompluta"

Exec[ro]=file_odd=$(kdialog --title "Selectați Fișierul cu Pagini Impare" --getopenfilename "Selectați fișierul cu pagini impare" "application/pdf") && file_even=$(kdialog --title "Selectați Fișierul cu Pagini Pare" --getopenfilename "Selectați fișierul cu pagini pare" "application/pdf") && output_file=$(kdialog --title "Unire Pagini Impare și Pare" --getsavefilename "Selectați fișierul de ieșire" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Impare/Pare" --msgbox "Unirea fișierelor PDF a fost finalizată"

Exec[sk]=file_odd=$(kdialog --title "Vyberte Súbor s Nepárnymi Stranami" --getopenfilename "Vyberte súbor s nepárnymi stranami" "application/pdf") && file_even=$(kdialog --title "Vyberte Súbor s Párnymi Stranami" --getopenfilename "Vyberte súbor s párnymi stranami" "application/pdf") && output_file=$(kdialog --title "Zlúčenie Nepárnych a Párnych Strán" --getsavefilename "Vyberte výstupný súbor" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Nepárne/Párne" --msgbox "Zlúčenie PDF dokončené"

Exec[sl]=file_odd=$(kdialog --title "Izberite Datoteko s Lihi Stranmi" --getopenfilename "Izberite datoteko s lihi stranmi" "application/pdf") && file_even=$(kdialog --title "Izberite Datoteko s Soda Stranmi" --getopenfilename "Izberite datoteko s soda stranmi" "application/pdf") && output_file=$(kdialog --title "Združi Lihe in Sode Strani" --getsavefilename "Izberite izhodno datoteko" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Lihe/Sode" --msgbox "Združevanje PDF-jev zaključeno"

Exec[sv]=file_odd=$(kdialog --title "Välj Fil med Ojämna Sidor" --getopenfilename "Välj fil med ojämna sidor" "application/pdf") && file_even=$(kdialog --title "Välj Fil med Jämna Sidor" --getopenfilename "Välj fil med jämna sidor" "application/pdf") && output_file=$(kdialog --title "Sammanfoga Ojämna och Jämna Sidor" --getsavefilename "Välj utdatafil" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Ojämn/Jämn" --msgbox "Slå samman PDF-filer slutfört"

Exec[et_EE]=file_odd=$(kdialog --title "Vali fail paaritu lehekülgedega" --getopenfilename "Vali fail paaritu lehekülgedega" "application/pdf") && file_even=$(kdialog --title "Vali fail paaris lehekülgedega" --getopenfilename "Vali fail paaris lehekülgedega" "application/pdf") && output_file=$(kdialog --title "Ühenda paaritud ja paaris leheküljed" --getsavefilename "Vali väljundfail" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Paaritu/Paarne" --msgbox "PDF-ide ühendamine lõpule viidud"

Exec[uk]=file_odd=$(kdialog --title "Оберіть Файл з Непарними Сторінками" --getopenfilename "Оберіть файл з непарними сторінками" "application/pdf") && file_even=$(kdialog --title "Оберіть Файл з Парними Сторінками" --getopenfilename "Оберіть файл з парними сторінками" "application/pdf") && output_file=$(kdialog --title "Злиття Непарних та Парних Сторінок" --getsavefilename "Оберіть вихідний файл" "application/pdf") && output_file=${output_file%.pdf}.pdf && pdftk A="$file_odd" B="$file_even" shuffle A Bend-1 output "$output_file" && kdialog --title "Непарні/Парні" --msgbox "Злиття PDF завершено"
